*{
	padding:  0;
	font-size: 1em;
}

body{
	font-family: "Roboto", sans-serif; /*This is not the exact font
	but by using Google font it should at least display the same on 
	all devices*/

}

/*Header*/
header{
	background-color: #CABBB7;
	padding-top: 3em;
	padding-bottom:  3em;
	padding-left: 3em;
	padding-right:  2em;
	font-size: 1.65em;
}


header img{
	height:  4.5em;
	position: absolute;
	top:  0;
	right:  0;
	padding:  2em;
}
/*End of Header*/


/*Navigation Bar*/
nav{
	background-color: #C65252;
	text-align: right;
	padding-top:  0.1em;
	padding-bottom: 0.1em;
}

ul{
	padding-right: 2em;
}

ul li{
	display: inline;
	padding-right: 1em;
}

li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size:  1.75em;
}
/*End of Navigation Bar*/

/*Main*/
main > div{
	margin-left:  5%;
	margin-right: 5%;
}

h1{
	text-align: center;
	font-size: 450%;
	margin-top: 0.75em;
	margin-bottom:  1em;
	font-weight: bold;
}

main img{
	width: 100%; /*% of an images' container*/
	max-height: 17em;
	object-fit: cover; /*crops image and keeps ratio to keep max-height, responsive*/
}

main p{
	font-size: 175%;
	font-weight:  bold;
	text-align:  center;
	margin-bottom:  1em;
	margin-top: 0.2em;
}

.twocolumngrid{
	margin: 0;
}

.column{
	width: 40%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}
/*End of Main*/

/*Footer*/
footer{
	background-color: #CABBB7;
	text-align: center;
	padding: 0.75em;
	clear: left;
	font-size: 120%;
}

footer img{
	height:  4.25em;
	padding-top: 0.75em;
}
/*End of Footer*/




